.contenedor {
  display: flex;
  margin: auto;
}

.Cabecera {
  width: 1100px;
  height: 250px;
}

.Yo {
  width: 250px;
  height: 250px;
}

.header-1 {
  width: 300%;
}

.header-2 {
  width: 50%;
}

nav {
  background-color: blue;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-top: au;
  padding: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ddd;
}

.Container {
  display: flex;
  margin: auto;
}

.izquierda {
  width: 300px;
  height: 450px;
  margin-left: 60px;
}

.cuadro {
  width: 300px;
  height: 25px;
}

.btn {
  width: 70px;
  height: 40px;
  background-color: green;
  color: white;
  margin-left: 235px;
}

.icono {
  width: 40px;
  height: 40px;
  margin-left: 45px;
}

.centro {
  width: 500px;
  height: 400px;
  margin-left: 80px;
  text-align: center;
}

.derecha{
  margin-left: 80px;
  height: 400px;
}

.Oferta {
  margin-top: -8px;
  margin-left: -13px;
  margin-right: -13px;
  height: 20px;
  background-color: green;
  border-color: green;
}

.OfertaACa {
  margin-top: -4px;
  color: white;
  border-color: green;
}

footer {
  
  bottom: 0;
  left: 0;
  width: 100%;
  height: 115px;
  background-color: green;
  text-align: center;
  color: white;
}

.pie-de-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-F {
  margin: 0;
  padding: 0;
}

.InicioS {
  text-align: center;
  color: blue;
}